@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__container {
  margin: 17px auto 32px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lists {
  font-family: Roboto;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.6px;
  color: #383938;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__lists a {
  margin-right: 30px;
  color: #383938;
  border-radius: 15px;
  padding: 15px 20px 0px 20px;
}

.header__lists a:first-child {
  color: #000;
}

.header__lists a:last-child {
  margin-right: 15px;
  background-color: #f5f6f9;
  padding: 15px 35px;
}

.header__lists a:hover {
  -webkit-box-shadow: 1px 1px 15px #000;
          box-shadow: 1px 1px 15px #000;
}

.first-frame {
  margin-top: 150px;
  text-align: center;
}

.first-frame__title {
  font-family: Roboto;
  font-size: 70px;
  line-height: 78px;
  letter-spacing: 3.11px;
  color: #383938;
  font-weight: none;
}

.first-frame__downloadapp {
  margin-top: 56px;
}

.first-frame__img {
  margin-top: 146px;
}

.first-frame__img img {
  width: 100%;
  min-width: 100vw;
}

.second-frame {
  margin-top: 250px;
}

.second-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-frame__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.second-frame__text {
  margin-top: 35px;
  font-family: Roboto;
  font-size: none;
  line-height: 37px;
  letter-spacing: none;
  color: #6e6d7a;
  font-weight: none;
}

.three-frame {
  text-align: center;
  margin-top: 250px;
}

.three-frame__subtitle {
  margin-top: 25px;
  margin-bottom: 72px;
}

.three-frame__img {
  background-color: #f0f2fa;
  padding: 130px 300px;
  width: 90vw;
  margin: 0 auto;
}

.title {
  font-family: Roboto;
  font-size: 33px;
  line-height: 53px;
  letter-spacing: 1.56px;
  color: #383938;
  font-weight: none;
}

.subtitle {
  font-family: Roboto;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: none;
  color: #6e6d7a;
  font-weight: none;
}

.four-frame {
  text-align: center;
  margin-top: 250px;
}

.four-frame__subtitle {
  margin-top: 25px;
  margin-bottom: 72px;
}

.four-frame__img {
  background-color: #f0f2fa;
  padding: 130px 300px;
  width: 90vw;
  margin: 0 auto;
}

.five-frame {
  text-align: center;
  margin-top: 250px;
}

.five-frame__subtitle {
  margin-top: 25px;
  margin-bottom: 72px;
}

.five-frame__img {
  background-color: #f0f2fa;
  padding: 130px 300px;
  width: 90vw;
  text-align: center;
  margin: 0 auto;
}

.six-frame {
  margin-top: 260px;
  text-align: center;
}

.six-frame__subtitle {
  margin-top: 24px;
}

.six-frame__img {
  margin: 72px auto 0 auto;
  max-width: 1033px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.seven-frame {
  margin-top: 260px;
}

.seven-frame__title {
  text-align: center;
}

.seven-frame__row {
  max-width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  margin: 78px auto 0 auto;
}

.seven-frame__row:last-child {
  margin-top: 52px;
}

.seven-frame__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 28vw;
}

.seven-frame__coltitle {
  margin-top: 30px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 33px;
  letter-spacing: none;
  color: #383938;
  font-weight: none;
}

.seven-frame__colsubtitle {
  margin-top: 12px;
  font-family: Roboto;
  font-size: 9px;
  line-height: 23px;
  letter-spacing: none;
  color: #6e6d7a;
  font-weight: none;
}

.seven-frame__button {
  border: 1px solid #edeef3;
  border-radius: 8px;
  padding: 24px 47px;
  width: 260px;
  margin: 115px auto 0 auto;
}

.seven-frame__button p {
  font-family: Roboto;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2.34px;
  color: #6e6d7a;
  font-weight: none;
  text-align: center;
}

.eight-frame {
  margin-top: 280px;
  text-align: center;
}

.eight-frame__downloadapp {
  margin-top: 25px;
}

.eight-frame__device {
  margin-bottom: 223px;
}

.eight-frame__device img {
  width: 90vw;
  text-align: center;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1150px;
  margin: 0 auto;
}

.footer__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 645px;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.66px;
  color: #6e6d7a;
  font-weight: none;
}

.footer__leftside a {
  color: #6e6d7a;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.footer__column li {
  margin-bottom: 26px;
}

.footer__rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: none;
  color: #6e6d7a;
  font-weight: none;
}

.footer__rightside img {
  margin-bottom: 3px;
}
